@font-face 
{
    font-family: 'ralewaythin';
    src: url('/font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('/font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{   
    font-family: "ralewaythin", Arial, sans-serif;
    font-size: normal;
    color: #181818;
    font-weight: normal;
}   

#bloc_page
{
    width: auto;
    margin: auto;
}


/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#titre-principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 127px;
    height: 60px;
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 20px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-bottom: 40px;
}

nav li
{
    margin-right: 50px;
    font-size: large;
    font-weight: 600;
}



/* 1ERE SECTION*/


section
{
    margin-left: 25px;
}



#bouton-rechercher
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-search
{
    width: 140px;
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
}

button
{
    weight: 40px;
    height: 30px;
    background-color: #006cc4;
    color: #ffffff;
}

section img
{
    margin-top: 10px;
    width: 40px;
    height: 40px
}


/* Affichage tablettes */

@media screen and (max-width: 992px)
{
    header
    {
        display: flex;
        justify-content: center;
    }
}


/* Affichage smartphone */

@media screen and (max-width: 768px)
{
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid #006cc4;
        width: 485px;
        margin-top
    }

/* TEST traits sous barre de nav (mobile)

    #trait-dessous-gauche
    {
        border-bottom: 3px solid #006cc4;
        width: 384px;
        margin-right: 384px;
    }

    #trait-dessous-droite
    {
        border-bottom: 3px solid #006cc4;
        width: 384px;
        margin-left: 384px;
    }

*/

    h1
    {
        display: flex;
        justify-content: center;
    }
}