body
{   
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: #181818;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 0px;
    width: auto;
}   


/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
}


#logo img
{
    width: 127px;
    height: 60px;
    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.navbar-menu
{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0px;
}

.navbar-item
{
    width: 180px;
    text-align: center;
    border-top: 2px solid rgb(0, 101, 252);
    padding-top: 50px;
}

.navbar-item:not(:hover)
{
    border-top: none;
    padding-top: 52px;
}

.navbar-item a
{
    text-decoration: none;
    color: initial;
}


.navbar-item :hover
{     
    color: rgb(0, 101, 252);
}

.navbar-link
{
    position: relative;
    width: 100%;
}

/* SECTION 1 - RESEARCH BAR + FILTERS */


section
{
    margin-left: 50px;
}

.research-box
{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin-bottom: 15px;
}

.icon-location
{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;;
}

.research-bar
{
    width: 240px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-right: none;
    border-left: none;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    padding-top: 5px;
}

.research-bar::placeholder{
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.button-search
{
    width: 130px;
    background-color: rgb(0, 101, 252);
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.button-search a
{
    text-decoration: none;
    color: white;
}

#glass-icon
{
    display: none;
}

.filters
{
    display: flex;
}

.title-h2
{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.filters-ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters-button
{
    display: flex;
    align-items: center;
    border: 2px solid #cecece;
    border-radius: 30px;
    border-left: none;
    padding: 11px;
    padding-left: 0;
    background-color: white;
    margin-right: 20px;
}

.button-name
{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-color: white;
    font-weight: 700;
    padding-right: 2px;
}

.filters-button i::before
{
    background-color: #cdddff;
    color: rgb(0, 101, 252);
    margin-right: 10px;
    padding: 14px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
}

.informations
{
    display: flex;
    align-items: center;
}

i.fa-solid.fa-info
{
    width: 15px;
    height: 15px;
    border: 1px solid #acacac;
    color: rgb(0, 101, 252);
    padding: 4px;
    border-radius: 15px;
    text-align: center;
    margin-right: 8px;
}

/* SECTION 2 - ACCOMODATION */

.title-h3
{
    font-size: 20px;
    font-weight: 900;
}

#line-up-icon
{
    width: 30px;
    height: 30px;
}

.grey
{
    color: rgb(197, 197, 197);
}

.blue
{
    color: rgb(1, 82, 204);
}

.accomodation-part img
{
    height: 120px;
    width: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
}

#accomodation
{
    display: flex;
    gap: 30px;
}

.bloc-marseille-accomodation
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    width: 66%;
    padding: 30px;
    gap: 20px;
}

.marseille-accomodation-upper-articles
{
    display: flex;
    gap: 30px;
}

.marseille-accomodation-lower-articles
{
    display: flex;
    gap: 30px;
}

.marseille-accomodation-article
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    width: 240px;
    box-shadow: 1px 1px 20px #acacac;
}


.bloc-most-popular
{
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    width: 33%;
    padding: 30px;
    gap: 20px;
}

.marseille-accomodation-article-popular
{
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    width: 360px;
    box-shadow: 1px 1px 20px #acacac;
    height: 120px;
}

.marseille-accomodation-article-popular img
{
    height: 120px;
    width: 120px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.description-article-popular
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stars
{
    display: flex;
    flex-direction: row;
}

/* SECTION 3*/

.activities-part img
{
    height: 200px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-part
{
    display: flex;
    flex-direction: row;
}

.marseille-activities-articles
{
    display: flex;
    border-radius: 30px;
    background-color: white;
    border-radius: 20px;
}


/* FOOTER */

footer
{
    display: flex;
    gap: 250px;
    width: 100%;
    background-color: rgb(223, 223, 223);
    height: 50%;
}


/* Affichage tablettes */

@media screen and (max-width: 992px)
{
    body
    {
        margin-left: 0px;
        font-size: large;
    }
    
    /* HEADER */

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo
    {
        display: flex;
        justify-content: center;
    }

    .navbar-menu
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: auto;
        padding-left: 0px;
    }

    .navbar-item
    {
        border-top: none;
        width:50%;
        border-bottom: 3px solid rgb(0, 101, 252);
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 101, 252);
        font-weight: 500;
        font-size: 21px;
    }

    .navbar-item :hover
    {
        border-bottom: transparent;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: 700;
    }

    .navbar-item:not(:hover)
    {
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 22px;
    }

    /* SECTION 1 */

    .filters
    {
        display: flex;
        flex-wrap: wrap;
    }

    .title-h2
    {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    ul.filters-ul
    {
        display:flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* FOOTER */

    footer
    {
        flex-direction: column;
    }

}



/* Affichage smartphone */

@media screen and (max-width: 768px)
{
    body
    {

        font-size: medium;
    }
    
    /* HEADER */

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo
    {
        display: flex;
        justify-content: center;
    }

    #logo img
    {
        width: 106px;
        height: 50px;
        margin-top: 15px;
        margin-left: 25px;
        margin-bottom:25px;
    }

    .navbar-menu
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .navbar-item
    {
        border-top: none;
        width: 50%;
        border-bottom: 3px solid rgb(0, 101, 252);
        padding-bottom: 13px;
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 101, 252);
        font-weight: 500;
        font-size: 16px;
        padding-top: 10px;
    }

    .navbar-item :hover
    {
        font-weight: 500;
    }

    .navbar-item:not(:hover)
    {
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 14px;
        padding-top: 12px;
    }

    /* SECTION 1 */

    #glass-icon
    {
        display: block;
        border-radius: 15px;
        width: 50px;
    }

    #button-search
    {
        display: none;
    }

}